.App {
  text-align: center;
}
#topBlackBar {
    background-color: grey;
    border-top: 300px solid #000;
    height: 50px;
    border: 0px; padding: 0px;
            }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inline-chart {
	display: inline-block;
	width: 48%;
	margin-left: 1%;
}
